#AuthName "Restricted Area" 
#AuthType Basic 
#AuthUserFile /home/vipbtc/pre/.htpasswd 
#AuthGroupFile /dev/null 
#require valid-user

#Options -Indexes
#ErrorDocument 400 "400"
#ErrorDocument 401 "401"
#ErrorDocument 403 "403"
#ErrorDocument 404 "404"
#ErrorDocument 500 "500"

#<FilesMatch "ripple.txt">
#    Header add Access-Control-Allow-Origin "*"
#</FilesMatch>

#RewriteEngine On

#RewriteCond $1 !^(index\.php|v2|img|css|js|favicon\.ico|probono_asset|assets_123|homev2-assets|pgp|maintenance\.html|android\.version|downloads|robots\.txt|apple-touch-icon\.png|apple-touch-icon-precomposed\.png)

#RewriteRule ^(.*)$ /img/maintenance.html [L]

#RewriteRule ^(.*)$ index.php/$1 [L]



Options +FollowSymLinks
Options -Indexes
DirectoryIndex index.php
RewriteEngine on
RewriteCond $1 !^(index\.php|images|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA]